<div class = "root">

    <!-- Creating the Heading Bar -->
    <div class="navbar has-background-dark"> <!-- Class is part of Bulma CSS Import -->
        <div class="navbar-brand"> <!-- Class is part of Bulma CSS Import -->
            <div class="navbar-item"> <!-- Class is part of Bulma CSS Import -->
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>
    <!-- Creating the Heading Bar -->

    <!-- Creating the Board -->
    <div class="board">

        <!-- Creating the Board Bar -->
        <div class="board-bar">
            <p class = "board-name">{{ board.name }}</p>
        </div>
        <!-- Creating the Board Bar -->

        <!-- Creating a Wrapper/Bax, which contains everything below the "Board Name", and includes all the board columns-->
        <div class="board-wrapper">

            <!-- Creating Space for adding all Columns -->
            <div class="board-columns" cdkDropListGroup>

                <!-- Creating Column 1 -->
                <div class="board-column" *ngFor="let column of board.columns">

                    <!-- Creating Title of a Column -->
                    <div class="column-title" >
                        {{ column.name }}
                    </div>
                    <!-- Creating Title of a Column -->

                    <!-- Creating a container to contain all the tasks -->
                    <div class="task-container"
                    cdkDropList
                    [cdkDropListData]="column.tasks"
                    (cdkDropListDropped)="drop($event)">

                        <!-- Creating a Task -->
                        <div class="task" *ngFor="let task of column.tasks" cdkDrag>
                            {{ task }}
                        </div>
                        <!-- Creating a Task -->

                    </div>
                    <!-- Creating a container to contain all the tasks -->

                </div>
                <!-- Creating Column 1 -->

            </div>
            <!-- Creating Space for adding all Columns -->

        </div>
        <!-- Creating a Wrapper/Bax, which contains everything below the "Board Name", and includes all the board columns-->

    </div>
    <!-- Creating the Board -->
</div>