<div class = "root">

    <!-- Creating the Heading Bar -->
    <div class="navbar has-background-dark"> <!-- Class is part of Bulma CSS Import -->
        <div class="navbar-brand"> <!-- Class is part of Bulma CSS Import -->
            <div class="navbar-item"> <!-- Class is part of Bulma CSS Import -->
                <h1 class="app-name has-gradient-text">Kanban</h1>
            </div>
        </div>
    </div>
    <!-- Creating the Heading Bar -->

    <!-- Creating the Board -->
    <div class="board">

        <!-- Creating the Board Bar -->
        <div class="board-bar">
            <p class = "board-name">Board Name</p>
        </div>
        <!-- Creating the Board Bar -->

        <!-- Creating a Wrapper/Bax, which contains everything below the "Board Name", and includes all the board columns-->
        <div class="board-wrapper">

            <!-- Creating Space for adding all Columns -->
            <div class="board-columns">

                <!-- Creating Column 1 -->
                <div class="board-column">

                    <!-- Creating Title of a Column -->
                    <div class="column-title">
                        Ideas
                    </div>
                    <!-- Creating Title of a Column -->

                </div>
                <!-- Creating Column 1 -->

                <!-- Creating Column 2 -->
                <div class="board-column">

                    <!-- Creating Title of a Column -->
                    <div class="column-title">
                        Research
                    </div>
                    <!-- Creating Title of a Column -->
                    
                </div>
                <!-- Creating Column 2 -->
                
                <!-- Creating Column 3 -->
                <div class="board-column">

                    <!-- Creating Title of a Column -->
                    <div class="column-title">
                        Todo
                    </div>
                    <!-- Creating Title of a Column -->
                    
                </div>
                <!-- Creating Column 3 -->

                <!-- Creating Column 4 -->
                <div class="board-column">

                    <!-- Creating Title of a Column -->
                    <div class="column-title">
                        Done
                    </div>
                    <!-- Creating Title of a Column -->
                    
                </div>
                <!-- Creating Column 4 -->

            </div>
            <!-- Creating Space for adding all Columns -->

        </div>
        <!-- Creating a Wrapper/Bax, which contains everything below the "Board Name", and includes all the board columns-->

    </div>
    <!-- Creating the Board -->
</div>